<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add  name="mySqlConnection" connectionString="server=cdb-r1ngfa7h.gz.tencentcdb.com;port=10111;user=root;password=Zhang970716; database=myTestDatabase;"/>
  </connectionStrings>
</configuration>