<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--缓存依赖项配置-->
    <caching>
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="GSSMS" connectionStringName="connStr" pollTime="15000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
<!--<sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424"/-->
<!--<sessionState mode="SQLServer"/>-->
    <customErrors mode="On" defaultRedirect="MyErrorPage.html">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.html" />
    </customErrors>


  </system.web>
  
  <!--关于HttpModule的配置-->
  <system.webServer>
    <modules>
      <add name="ValidateSessionHttpModule" type="CZBK.ItcastProject.Common.ValidateSessionHttpModule"/>
    </modules>
  </system.webServer>
  
  <connectionStrings>
    <add name="connStr" connectionString="server=.;uid=home;pwd=;database=EFFristModel" />
    <add name="EFFristModelConnectionString" connectionString="Data Source=.;Initial Catalog=EFFristModel;User ID=home"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
